*, ::before, ::after {
    box-sizing: border-box;
}

body {
    color: #e0e1dd;
    background-color: #0d1b2a;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 40px auto 40px;
}

.navbar_container  {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 30px 47px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.photo_container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_container > .image_to_edit {
    width: 90%;
    height: 90%;
    max-height: 700px;
    object-fit: contain;
}

.sidebar_container {  
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 0.1px solid #e0e1dd3b;
}

.sidebar_button {
    width: 150px;
    height: 50px;
    background-color: #1b263b;
    color: #e0e1dd;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1px;
    transition: background-color 150ms;
}

.sidebar_button.active {
    background-color: #2a3c55;
}

.sidebar_button:hover {
    background-color: #2a3c55;
}

.slider_container {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;

}

.slider_container input {
    width: 90%;
    max-width: 600px;
}
